<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="close()">&times;</button>
        <div class="modal-title" translate="settings.imprint.header"></div>
    </div>
    <div class="modal-body">
        <div class="panel-group" id="accordionImprint">
            <div class="panel panel-primary">
                <!--<div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordionImprint"
                           href="#collapseImprint" translate="settings.imprint.header"></a>
                    </h4>
                </div>-->
                <div id="collapseImprint" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <h4 translate="settings.imprint.header"></h4>
                        <p translate="settings.imprint.github"></p>
                        <p translate="settings.imprint.text"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>